@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-size: 14px;
}
p {
  color: rgb(238, 238, 238);
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}
.spin {
  animation: spin 5s linear infinite;
}
.services{
  -webkit-text-stroke: 0.5px white;
}